*.iml
.gradle
/local.properties
.idea
build
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
byggappen-dev-b151ea2d4990.json
keystore.properties
keystore.jks